@import "tailwindcss";

@theme {
  --color-dignified-green: #065f46;
  --color-pure-white: #ffffff;

  --font-sans: 'Inter', sans-serif;

  --animate-pulse-slow: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* App specific aesthetics */
body {
  @apply bg-gray-50 text-gray-900;
  font-family: var(--font-sans);
}